<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none">

    <test name="Product Page Test">
        <parameter name="env" value="DEFAULT"/>
        <classes>
            <class name="tests.ProductPageTest"/>
        </classes>
    </test>

    <test name="Product Detail Page Test">
        <parameter name="env" value="DEFAULT"/>
        <classes>
            <class name="tests.ProductDetailsPageTest"/>
        </classes>
    </test>

    <test name="Shopping Cart Page Test">
        <parameter name="env" value="DEFAULT"/>
        <classes>
            <class name="tests.CartPageTest"/>
        </classes>
    </test>

</suite>